
.Board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border: 5px;
  border-color: black;
  border-style: solid;
  display: block;
  margin: auto;
}

.Disabled {
  opacity: 0.5;
}

